@import "tailwindcss";

:root {
  --background: #ffffff;
  --color-primary: #0d9488;
  --color-text: #1f2937;
  --color-error: #ef4444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: ;
  }
}

body {
  background: var(--background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}
